<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full pt-4 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-100 border-0">
        <div class="flex flex-wrap items-center pt-4">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-base text-blueGray-700">
              Nueva transferencia
            </h3>
            <legend>
              Monto disponible {{cuenta.monto | currency}}
            </legend>
          </div>
        </div>
        <div class="flex-auto px-4  py-10 pt-6">
          <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="onSave()">
            <div class="relative w-full mb-3">
              <label class="block uppercase text-gray-700 text-xs font-bold mb-2">
                Monto
              </label>
              <input
                type="number"
                class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                placeholder="Monto"
                style="transition: all 0.15s ease 0s;"
                formControlName="monto"
                autocomplete="off"
                required
              />
              <legend class="text-red-600" *ngIf="monto && monto?.invalid && monto?.touched"> Debe ingresar un monto </legend>
            </div>
            <div class="text-center mt-6">
              <button
                class="bg-gray-900 text-white active:bg-gray-700 disabled:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                type="submit"
                style="transition: all 0.15s ease 0s;"
                [disabled]="miFormulario.invalid"
              >
                Crear
              </button>
              <button
                class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                type="button"
                style="transition: all 0.15s ease 0s;"
                routerLink="/dashboard"
              >
                Volver
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
