<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
      <h3 class="font-semibold text-base text-blueGray-700">
        Movimientos
      </h3>
    </div>
  </div>
</div>
<div class="block w-full overflow-x-auto">
  <div class="rounded-t mb-0 px-4 py-3 border-0" *ngIf="status !== 200">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-center">
        <h3 class="font-semibold text-base text-blueGray-700">
          No se encuentra informacion
        </h3>
      </div>
    </div>
  </div>
  <table class="items-center w-full bg-transparent border-collapse" *ngIf="status == 200">
    <thead>
      <tr>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          #
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Destinatario
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Monto
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of movimientos; let i = index">
        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
          {{i+1}}
        </th>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{dato.idDestinatario2.nombre}}
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{dato.monto | currency}}
        </td>
      </tr>
    </tbody>
  </table>
</div>