<nav
  class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
  <div
    class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
  >
    <!-- Toggler -->
    <button
      class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->
    <a
      class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
      routerLink="/dashboard/"
    >
      Banco APP
    </a>
    
    <!-- Collapse -->
    <div
      class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div
        class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
      >
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
              routerLink="/dashboard/"
            >
              Banco APP
            </a>
          </div>
          <div class="w-6/12 flex justify-end">
            <button
              type="button"
              class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Navigation -->
      <ul class="md:flex-col md:min-w-full flex flex-col list-none">
        <li class="items-center">
          <a
            class="text-blueGray-700 hover:text-cyan-600 text-xs uppercase py-3 font-bold block"
            routerLink="/dashboard/"
            routerLinkActive="text-cyan-300"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <i class="fas fa-user-circle text-blueGray-400 mr-2 text-sm"></i>
            Destinatarios
          </a>
        </li>
        <li class="items-center">
          <a
            class="text-blueGray-700 hover:text-cyan-600 text-xs uppercase py-3 font-bold block"
            routerLink="/dashboard/nuevoDestinatario"
            routerLinkActive="text-cyan-300"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <i class="fas fa-newspaper text-blueGray-400 mr-2 text-sm"></i>
            Agregar Destinatario
          </a>
        </li>
        <li class="items-center">
          <a
            class="text-blueGray-700 hover:text-cyan-600 text-xs uppercase py-3 font-bold block"
            routerLink="/dashboard/movimientos/"
            routerLinkActive="text-cyan-300"
            [routerLinkActiveOptions]="{exact:true}"
          >
            <i class="fas fa-clipboard-list text-blueGray-300 mr-2 text-sm"></i>
            Movimientos
          </a>
        </li>
      </ul>
      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
    </div>
  </div>
</nav>
