<div class="rounded-t mb-0 px-4 py-3 border-0">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
      <h3 class="font-semibold text-base text-blueGray-700">
        Destinatarios
      </h3>
    </div>
  </div>
</div>
<div class="block w-full overflow-x-auto">
  <div class="rounded-t mb-0 px-4 py-3 border-0" *ngIf="status !== 200">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1 text-center">
        <h3 class="font-semibold text-base text-blueGray-700">
          No se encuentra informacion
        </h3>
      </div>
    </div>
  </div>
  <table class="items-center w-full bg-transparent border-collapse" *ngIf="status == 200">
    <thead>
      <tr>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Nombre
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Correo
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Cuenta
        </th>
        <th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
          Opciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of destinatarios">
        <th class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
          {{dato.nombre}}
        </th>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{dato.correo}}
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          {{dato.cuenta}}
        </td>
        <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
          <button
            class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1"
            type="button"
            style="transition:all .15s ease"
            routerLink="/dashboard/transferir/{{dato.idDestinatario}}"
          >
            Transferir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>