<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="onRegister()">
  <div class="relative w-full mb-3">
    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
      Nombre
    </label>
    <input
      type="email"
      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
      placeholder="Nombre"
      style="transition: all 0.15s ease 0s;"
      formControlName="username"
      autocomplete="off"
      required
    />
    <legend class="text-red-600" *ngIf="username && username?.invalid && username?.touched"> Debe ingresar un nombre valido </legend>
  </div>
  <div class="relative w-full mb-3">
    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
      Email
    </label>
    <input
      type="email"
      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
      placeholder="Email"
      style="transition: all 0.15s ease 0s;"
      formControlName="correo"
      autocomplete="off"
      required
    />
    <legend class="text-red-600" *ngIf="correo && correo.invalid && correo.touched"> Debe ingresar un correo </legend>
  </div>
  <div class="relative w-full mb-3">
    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" for="grid-password">
      Password
    </label>
    <input
      type="password"
      class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
      placeholder="Password"
      style="transition: all 0.15s ease 0s;"
      formControlName="password"
      autocomplete="off"
      required
    />
    <legend class="text-red-600" *ngIf="password && password?.invalid && password?.touched"> Debe ingresar una contraseña valida </legend>
  </div>
  <div class="text-center mt-6">
    <button
      class="bg-gray-900 text-white active:bg-gray-700 disabled:bg-gray-400 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
      type="submit"
      style="transition: all 0.15s ease 0s;"
      [disabled]="miFormulario.invalid"
    >
      Crear
    </button>
    <button
      class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
      type="button"
      style="transition: all 0.15s ease 0s;"
      routerLink="/auth/login"
    >
      Ingresar
    </button>
  </div>
</form>