<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
      routerLink="/dashboard/"
    >
      Banco APP
    </a>
    <!-- Form -->
    <form class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3">
      <div class="relative flex w-full flex-wrap items-stretch">
        <a
          class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
          (click)="logout()"
        >
          LogOut
        </a>
      </div>
    </form>
  </div>
</nav>